svg#freepik_stories-mask-for-the-deaf:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-mask-for-the-deaf.animated
  #freepik--background-complete--inject-84 {
  animation: 1.5s Infinite linear wind;
  animation-delay: 0s;
}
svg#freepik_stories-mask-for-the-deaf.animated #freepik--Plant--inject-84 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0s;
}
svg#freepik_stories-mask-for-the-deaf.animated
  #freepik--speech-bubble--inject-84 {
  animation: 1s 1 forwards ease-in fadeIn, 1.5s Infinite linear heartbeat;
  animation-delay: 0s, 1s;
}
svg#freepik_stories-mask-for-the-deaf.animated #freepik--Character--inject-84 {
  animation: 1s 1 forwards ease-in fadeIn, 3s Infinite linear shake;
  animation-delay: 0s, 1s;
}
@keyframes wind {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.animator-hidden {
  display: none;
}
